body, html{
    margin: 0;
    padding: 0;
    font-family: "Cormorant SC";

}

.nav-bar{
    background-color: white;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: absolute;
}

.logo{
    width: 100px;
}

a{
    text-decoration: none;
}

#home-section{
    background-color: red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title{
    text-align: center;
    color: white;
    width: 400px;

}

#sim-section{
    background-color: red;
    min-height: 100vh;
    padding-top: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-btn{
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.747), rgb(0, 0, 77, 0.747));
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0;
    display:inline-block;
}

.btn-wrapper{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.btn-wrapper2{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.form-one{
    text-align: center;
    margin-top: 20px;

}
.sim-wrapper{
    width: 90%;
    min-height: 400px;
}

.pregled, .rasporedjivanje{
    margin-top: 50px;
    display: flex;
    width: 90%;
    justify-content: center;
    min-height: 400px;
}


.sim-list{
    border: 1px solid white;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #dbdbdb;
}

.sim-display{
    border: 1px solid white;
    width: 50%;
    min-height: 60vh;
    background-color: #b8b7b7;
}

#garnizoni-list{
    height: 30px;
    width: 100%;
    text-align: center;
}